*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'custom-Lato';
    src: url('./font/Lato-Regular.ttf')format('truetype'),
        url('./font/Lato-Bold.ttf')format('truetype'),
        url('./font/lato-regular-webfont.woff')format('woff'),
        url('./font/lato-regular-webfont.woff2')format('woff2');
}
html{
    scroll-behavior: smooth;
}
body{
    /* font-family: 'Lato', sans-serif; */
    height: 1500px;
    font-family: "custom-Lato", sans-serif;
}
/* reusables */

button a{
    color: white;
    text-decoration: none;
}
span a{
    color: white;
    text-decoration: none;
}
.btn{
    padding: 15px 20px;
}
.btn-main{
    color: var(--white-color);
    background: var(--main-color);
    border: solid var(--main-color);
}
.btn-main:hover{
    color: var(--main-color);
    background: transparent;
}
.btn-light{
    border: 2px solid var(--main-color);
    background: transparent;
}
.btn-light:hover{
    color: var(--main-color);
    border: 3px solid var(--main-color);
}
/* ends here?\ */

/* nav section starts here
nav section emds here */
.backdrop{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--light-text-color);
    position:fixed;
    display:none;
}
.nav-mobile{
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    display: none;
}
.nav-mobile_brand{
    display: flex;
    align-items: center;
}
.mobile-nav_logo-holder{
    border: 2px solid var(--white-color);
    color: var(--white-color);
    font-size: 25px;
    padding: 5px;
}
.nav-mobile_brand span{
    color: var(--white-color);
    margin-left: 10px;
    font-size: 25px ;
    font-weight: 600;
}
.hamburger-menu{
    /* border: 2px solid var(--white-color); */
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.menubars{
    height: 3px;
    background: var(--white-color);
    width: 100%;
    position: relative;
}
.menubars::before,
.menubars::after{
    content: '';
    background: var(--white-color);
    position: absolute;
    height: 3px;
    width: 100%;
}
.menubars::before{
    transform: translatey(-10px);
}
.menubars::after{
    transform: translateY(10px);
}
.show .menubars{
    background: transparent;
}
.show .menubars::before{
    transform: rotate(45deg);
    background: var(--main-color);
}
.show .menubars::after{
    transform: rotate(-45deg);
    background: var(--main-color);
}
.mobile_link-holder{
    display: none;
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: var(--main-color);
    /* padding-left: 15px; */
}
.showlinks{
    display: block;
}
.mobile_link-holder li{
    list-style: none;
}
.mobile_header-links{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--white-color);
}
.mobile_header-links:hover,
.mobile_header-links:focus{
    background: var(--white-color);
    color: var(--main-color);
}
.mobile_link-holder button{
    border: 2px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
    margin-left: 15px;
}
.active-link{
    background: var(--white-color);
    color: var(--main-color);
}
.nav-desktop{
    position: fixed;
    width: 100%;
    background: var(--white-color);
}
.header-logo{
    top: 0;
    left: 60px;
    background: var(--main-color);
    color: var(--white-color);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
}

.link-holder{
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: flex-end;
}
.link-holder ul{
    display: flex;
    /* border: 3px solid black; */
    /* width: 500px; */
    
}
.link-holder li{
    list-style: none;
    border: 2px solid var(--white-color);
}
.link-holder li:hover{
    border: 2px solid var(--main-color);
}
.header-links{
    color: var(--main-color);
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}
.link-holder button{
    margin-left: 20px;
}
.header-banner{
    /* border:3px solid blue; */
    /* height: 450px; */
    background: url('./img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 30px;
}
.header-banner_container{
    /* border:3px solid black; */
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.header-banner_content{
    /* border: 3px solid blue; */
    width: 50%;
}
.header-banner_content h1{
    color: var(--main-color-dark);
    font-size: 45px;
    line-height: 1.1;
    font-weight: 300;
}
.header-banner_content p{
    margin: 20px 0;
    color: var(--text-color);
    line-height: 1.6;
}
.header-banner_content button{
    margin-right: 10px;
}

.header-counter{
    display: flex;
    background: var(--main-color);
    justify-content: space-evenly;
    padding: 20px 0;
}
.counter-items{
    text-align: center;
    width: 180px;
    /* height: 90px;? */
    /* border: 3px solid white; */
    color: var(--white-color);
}
.counter-items h2{
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 5px;
}

/* about us section starts here */
.about-us_card-container{
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.about-us_card-imageholder{
    /* border: 3px solid black; */
    height: 380px;
    width: 48%;
    border-radius: 30px;
    overflow: hidden;
}
.about-us_card-imageholder img{
    /* height: auto; */
    width: 100%;
    height: 100%;
    /* tutorial */
    object-fit: cover;
}

.about-us_text-contentholder{
    /* height: 380px; */
    width: 48%;
    /* border: 3px solid blue; */
}
.about-us_text-contentholder ul{
    margin-bottom: 20px;
}
.about-us_text-contentholder li{
    list-style: none;
}
.check-icon{
    color: var(--main-color);
    margin-right: 15px;
    font-size: 20px;
}
.about-us_text-contentholder h2{
    color: var(--main-color);
    background: var(--light-text-color);
    border-left: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    padding: 10px;
    font-size: 28px;
}
.about-us_text-contentholder p{
    margin: 25px 0;
}
.cardicon{
    margin-left: 10px;
}

.about-us__banner-holder {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid tomato; */
    text-align: center;
    /* height: 250px; */
    background: var(--gray-gradient), url('./img/about3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.about-us__banner-holder h2 {
    color: var(--main-color);
    font-size: 30px;
}

.about-us__banner-holder p {
    margin: 20px 0;
}

.btn-waves {
    margin-top: 20px;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: var(--white-color);
    background: var(--main-color);
    border: 2px solid var(--white-color);
    /* outline: 10px solid var(--black-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* short cut */
    animation: ripple 2s infinite;
    /* long cut */
    /* animation-name: ripple;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}

/* about us section ends here */


/* explore food section starts here */
.explore-foods {
    /* border: 3px solid tomato; */
    padding: 30px 0;
    border-bottom: 70px solid var(--main-color);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.explore-foods h2 {
    color: var(--main-color);
}

.explore-foods h2+p {
    margin: 20px 0;
}

.foodcard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 3px solid tomato; */
}

.foodcard__item {
    /* border: 3px solid tomato; */
    width: 320px;
    overflow: hidden;
}

.foodcard__image-holder {
    /* border: 3px solid black; */
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.foodcard__image-holder img {
    width: 100%;
    height: 100%;
}

.foodcard__text-holder {
    text-align: left;
}

.foodcard__text-holder h4,
.foodcard__text-holder h3 {
    margin: 10px 0;
}

.foodcard__text-holder h3 {
    border-bottom: 0.5px solid var(--light-text-color);
    padding-bottom: 10px;
}

.foodcard__text-holder span {
    text-decoration: line-through;
    color: var(--text-color);
}

.foodcard__text-holder button:hover {
    color: var(--main-color);
}

/* explore food section ends here */


/* faq starts here */
.faq{
    width: 90%;
    margin:0 auto ;
    
}
.faq h2{
    text-align: center;
    color: var(--main-color-dark);
}
.faqs_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}
.faq_items{
    max-width: 45%;
}
.faq_items span{
    color: var(--main-color);
    margin: 0 10px 0 0;
}
.faq_items p{
    text-align: justify;
}
.faq_items h3{
    text-align: center;
    color: var(--main-color-dark);
    margin: 20px 0;
    font-weight: bolder;
}
.faq_parallax{
    /* border: 2px solid var(--main-color); */
    height: 200px;
    background: var(--gradient), url(./img/cta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.faq_parallax h2{
    color: var(--white-color);
    font-weight: bold;
    font-size: 30px;
}

/* faq end here */
/* cta sectionstarts here */
.cta{
    text-align: center;
    padding: 30px 0;
}
.cta h2{
    color: var(--main-color-dark);
    font-size: 30px;
    font-weight: bolder;
}
.cta p{
    margin: 30px 0;
}
.cta input{
    padding: 15px 10px;
    border: 2px solid var(--main-color);
    border-right: none;
    outline: none;
    width: 200px;
    transition: all 0.5s ease-in-out ;
}
.cta input:hover{
    width: 300px;
}
.cta button{
    border: 2px solid var(--main-color);
    background: var(--main-color);
    color: var(--white-color);
}
.cta-input_holder{
    display: flex;
    justify-content: center;
}
/* footer section starts here*/
footer{
    background: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    align-items: center ;
}
.footer-copywrite{
    /* border: 3px solid white; */
    color: var(--white-color);
    align-self: center;
    /* height: 60px; */
    /* width: 200px; */
}
.footer-icon_hoolder{
    /* border: 3px solid white; */
    /* height: 60px; */
    /* width: 200px; */
    display: flex;
}
/* .footer-button_holder{ 
    border: 3px solid white;
    height: 60px;
    width: 200px;
 } */
.footer-icons{
    margin: 0 5px;
    color: var(--white-color);
    width: 40px;
    height: 40px;
    border: 2px solid var(--white-color);
    /* display: block; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.footer-icons:hover{
    background: var(--main-color-dark);
}
.footer-button_holder button{
    padding: 15px 20px ;
    background-color: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    cursor: pointer;
}
.footer-button_holder button:hover{
    background: var(--main-color-dark);
}

/* footer sections end here */
